<img src="../../images/logo.png" alt="logo panda com" class='logo'>
<div class="link">
    <a href="#"><button class="btn btn-warning">Retour au site</button></a>
    <a href="{{path('account_logout')}}"><button class="btn btn-danger">Déconnexion</button></a>
</div>